<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title >Terminos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
        <ol>
          <li style="list-style-position: initial;"><strong>Derechos de Propiedad</strong></li>
        </ol> 
        <div style="text-align: justify;margin-left: 51px;margin-right: 49px; ">
          <p>Todos los derechos de propiedad intelectual del Software (incluidas imágenes, video, audio, texto y otros elementos que
              forman parte del Software) así como cualquier otro material protegido por las leyes de propiedad intelectual, salvo
              que se disponga lo contrario en virtud de las presentes condiciones de uso, Pertenecen exclusivamente a Gevents.
            Sin embargo, Gevents autoriza la realización de una copia del Software únicamente como copia de seguridad o archivo.</p>
        </div>
        <ol start="2">
          <li style="list-style-position: initial;margin-right: 42px;"><strong>Exclusión de Garantías y Limitación de Responsabilidades</strong></li>
        </ol>
        <div style="text-align: justify;margin-left: 51px;margin-right: 49px; ">
          <p>Gevents no garantiza la utilidad del Software para la realización de ninguna actividad en concreto ni su infalibilidad.</p>
          <p>Gevents se exime de cualquier responsabilidad por los daños perjuicios de toda naturaleza que puedan deberse a la utilización del software.</p>
          <p>Gevents no garantiza la disponibilidad y continuidad de funcionamiento y compatibilidad del funcionamiento del Software.</p>
        </div>  
        <ol start="3">
          <li style="list-style-position: initial;"><strong>Protección de Datos Personales</strong></li>
        </ol>
        <div style="text-align: justify;margin-left: 51px;margin-right: 49px; ">
          <p>Para la utilizar el Software, puede ser necesario que el Usuario proporcione previamente a Gevents ciertos datos de carácter personal (en adelante, los “DATOS PERSONALES”. Gevents tratara automatizadamente los DATOS PERSONALES bajo las condiciones definidas a continuación</p>
          <p>Gevents ha adoptado los niveles de seguridad de la protección de los Datos Personales legalmente requeridos y procura instalar aquellos otros medios y medidas técnicas adicionales a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados a Gevents.</p>
          <p>El USUARIO tiene reconocidos los derechos de acceso, cancelación, rectificación y oposición, así como el derecho a ser informado de las cesiones realizadas, el Usuario o su representante legal podrán ejercitar estos derechos mediante solicitud dirigida a Gevents. </p>
        </div>  
      </ion-row>
  </ion-grid> 
</ion-content>
