<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>alert</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-list>
          <ion-item  formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
              <ion-label >{{ orders[i].nombre_apellido }}</ion-label>
              <ion-checkbox [formControlName]="i"></ion-checkbox>
          </ion-item>
      </ion-list>
  
    <div *ngIf="!form.valid">At least one order must be selected</div>
    <br>
    <div size="large" padding >
        <ion-button  size="large" type="submit"  expand="block">Ingresar</ion-button>	            <ion-button  size="large" type="submit"  expand="block">Ingresar</ion-button>
     </div>
  </form>
    
</ion-content>