<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>alert</ion-title>
    </ion-toolbar>

    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>

  </ion-header>

<ion-content>
  <form [formGroup]="FormGroup" (ngSubmit)="datos()">
      <ion-list>
          <ion-item *ngFor="let ticket of tickes | filtro: textoBuscar; let i = index">
              <ion-label *ngIf="ticket.estado_id == '13' ">{{ ticket.nombre_apellido }} {{ ticket.codigo_boleta }}</ion-label>
              <ion-checkbox  (click)="selection(ticket.id)" *ngIf="ticket.estado_id =='13'" ></ion-checkbox>
              <ion-label *ngIf="ticket.estado_id != '13' ">{{ ticket.nombre_apellido }} {{ ticket.codigo_boleta }}</ion-label>
          </ion-item> 
        </ion-list>
        <div size="large" padding >
            <ion-button  size="large" type="submit"  expand="block">Registrar Ingreso</ion-button>
         </div>
  </form>
    
</ion-content>
