<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Lista de Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid>
      <ion-row color="primary" >
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-list>
                <ion-item *ngFor="let item of items" [routerLink]="'/events-detail/' + item.id" text-uppercase>
                    {{ item.nombre }}
                </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
