
<ion-content>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons> 
  <form  #form="ngForm" (ngSubmit)="rememberPasswordForm()">
    <div padding>
        <h3> Olvidé mi contraseña </h3> <br />
         <p style="text-align: justify;margin-left: 10px;margin-right: 10px; "> Ingresa tu correo para enviarte un mensaje con las instrucciones para recuperar tu contraseña.
            Recuerda revisar tu bandeja de entrada y de correo spam.</p><br />
      <ion-item>
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Correo electrónico" required></ion-input>
      </ion-item>
    </div>
    <div size="large" padding >
      <ion-button expand="block" shape="round" type="submit" [disabled]="form.invalid"  >Enviar</ion-button>
    </div> 
  </form>
</ion-content>
