<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
        <p>
          Scanned Code Format : <b>{{ scannedData["format"] }}</b>
        </p>
      </div>
  <form  #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div align="center">
            <img class="logo mt-20 mb-20" src="" alt="G-Fashion" src="../../assets/images/logo@2x.png" />
          </div>
          <div text-center>
            <h3>Bienvenido</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input [(ngModel)]="nombre" name="email" type="email" placeholder="Correo electrónico" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
            </ion-item><br />
            <div align="center">
              <ion-checkbox [(ngModel)]="termCond" name="termCond" required ></ion-checkbox> 
              <a [routerLink]="'/terminos-condiciones'" >  Terminos y condiciones</a> 
          </div>
          </div>
          <div size="large" padding >
             <ion-button expand="block" shape="round" type="submit" [disabled]="form.invalid" expand="block">Ingresar</ion-button>
          </div>
          <div align="center">
              <a [routerLink]="'/remember-password'" >  ¿Olvidaste tu contraseña? </a> 
          </div>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
