<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Evento</ion-title>
    <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon slot="end" name="md-log-out"></ion-icon>
          Salir
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row color="primary" >
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-img class="imgDescrip" [src]="'https://testing.gevents.co/middleware/public/images/events/'+ imagen"></ion-img>
            <p>
              {{ evento }}
            </p>

            <p>
              {{ descripcion }}
            </p>

            <ion-button (click)="scanCode()" size="large"  expand="block">
              Codigo QR
            </ion-button>
            <ion-button id="{{id}}" [routerLink]="'/event-list/' + id" size="large"  expand="block">
              Lista
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   


</ion-content>
