<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalle Evento</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-img class="imgDescrip" src="assets/images/logo.png"></ion-img>
    <p>
        I saw a werewolf with a Chinese menu in his hand.
        Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
        He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
        Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
        <ion-text color="danger"><ion-icon name="cut"></ion-icon></ion-text>
      </p>
      <ion-button routerLink="/events-list" size="large"  expand="block">
        Codigo QR
      </ion-button>
      <ion-button routerLink="/events-list" size="large"  expand="block">
        Lista
      </ion-button>
</ion-content>
